<div class="card border-left-primary h-100 shadow">
    <div class="card-body">
        <h6>Attendance Chart for {{monthName}}</h6>
        <div *ngIf="attendanceData.length>0">
            <ngx-charts-bar-vertical
                [view]="view"
                [results]="attendanceData"
                [gradient]="gradient"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel">
            </ngx-charts-bar-vertical>
        </div>
    </div>
</div>

    

